* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    padding: 8px;
}

img {
    height: 100%;
    padding: 2px;
    border: 2px solid purple;
    border-radius: 4px;
}

.rtl {
    direction: rtl;
}

.metro-times img {
    display: block;
}

.metro-times h2 {
    margin: 4px 4px 8px 0;
}